# EditorConfig is awesome: http://EditorConfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
max_line_length = 100

[*.md]
max_line_length = off

[*.{lua,pln,c,h}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[pallenec]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
